# Data Glacier Data Science:: Bank Marketing (Campaign) -- Group Project
# Bank Marketing (Campaign)
 

Problem Statement:

ABC Bank wants to sell it's term deposit product to customers and before launching the product they want to develop a model which help them in understanding whether a particular customer will buy their product or not (based on customer's past interaction with bank or other Financial Institution).

 

Why ML Model: Bank wants to use ML model to shortlist customer whose chances of buying the product is more so that their marketing channel (tele marketing, SMS/email marketing etc)  can focus only to those customers whose chances of buying the product is more.

This will save resource and their time ( which is directly involved in the cost ( resource billing)).

Develop model with Duration and without duration feature and report the performance of the model.

Duration feature is not recommended as this will be difficult to explain the result to business and also it will

be difficult for business to campaign based on duration.

In [1]:
# Import the libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Importing Data

In [2]:
baf_df = pd.read_csv('/content/bank-additional-full.csv',sep=';')

In [3]:
baf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [4]:
baf_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

# Data Cleaning

In [5]:
baf_df.isna().any()

age               False
job               False
marital           False
education         False
default           False
housing           False
loan              False
contact           False
month             False
day_of_week       False
duration          False
campaign          False
pdays             False
previous          False
poutcome          False
emp.var.rate      False
cons.price.idx    False
cons.conf.idx     False
euribor3m         False
nr.employed       False
y                 False
dtype: bool

In [6]:
print( f"No. of duplicated rows: {baf_df.duplicated().sum()}")

No. of duplicated rows: 12

In [7]:
baf_df = baf_df.drop_duplicates()
baf_df.shape

(41176, 21)

## Feature Scaling

In [9]:
categorical_cols = baf_df.columns[baf_df.dtypes==object].tolist()
categorical_cols

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome',
 'y']

In [10]:
#convert all categorical variables to numeric
baf_df[categorical_cols] = baf_df[categorical_cols].apply(lambda x: pd.factorize(x)[0])
baf_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41176 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41176 non-null  int64
 1   job             41176 non-null  int64
 2   marital         41176 non-null  int64
 3   education       41176 non-null  int64
 4   default         41176 non-null  int64
 5   housing         41176 non-null  int64
 6   loan            41176 non-null  int64
 7   contact         41176 non-null  int64
 8   month           41176 non-null  int64
 9   day_of_week     41176 non-null  int64
 10  duration        41176 non-null  int64
 11  campaign        41176 non-null  int64
 12  pdays           41176 non-null  int64
 13  previous        41176 non-null  int64
 14  poutcome        41176 non-null  int64
 15  emp.var.rate    41176 non-null  float64
 16  cons.price.idx  41176 non-null  float64
 17  cons.conf.idx   41176 non-null  float64
 18  euribor3m       41176 non-null  float64
 19  nr.employed     41176 non-null  float64
 20  y               41176 non-null  int64
dtypes: float64(5), int64(16)
memory usage: 6.9 MB

In [11]:
baf_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,0,0,0,0,0,0,0,0,0,...,1,999,0,0,1.1,93.994,-36.4,4.857,5191.0,0
1,57,1,0,1,1,0,0,0,0,0,...,1,999,0,0,1.1,93.994,-36.4,4.857,5191.0,0
2,37,1,0,1,0,1,0,0,0,0,...,1,999,0,0,1.1,93.994,-36.4,4.857,5191.0,0
3,40,2,0,2,0,0,0,0,0,0,...,1,999,0,0,1.1,93.994,-36.4,4.857,5191.0,0
4,56,1,0,1,0,0,1,0,0,0,...,1,999,0,0,1.1,93.994,-36.4,4.857,5191.0,0

In [12]:
from sklearn.utils import resample
# Separate the majority and minority classes
majority_class = baf_df[baf_df.y == 0]
minority_class = baf_df[baf_df.y == 1]

# Keep all samples from the minority class
sampled_minority = minority_class

# Choose a random sample of the same size from the majority class
sampled_majority = resample(majority_class, n_samples=len(minority_class), replace=False, random_state=42)

# Combine the balanced samples from both classes
balanced_data = pd.concat([sampled_majority, sampled_minority])

# Shuffle the rows of the balanced dataset
balanced_data = balanced_data.sample(frac=1, random_state=42)

balanced_data.shape

(9278, 21)

# Model Building

## Separating Independent and outcome varables

In [13]:
X = balanced_data.drop("y", axis=1)
y = balanced_data["y"]

print(f"Shape of X: {X.shape} \nShape of y: {y.shape}")

Shape of X: (9278, 20)
Shape of y: (9278,)

## Splitting the data

In [14]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

X_train: (7422, 20)
X_test: (1856, 20)
y_train: (7422,)
y_test: (1856,)

## Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train2 = pd.DataFrame(sc_X.fit_transform(X_train))
X_test2 = pd.DataFrame(sc_X.fit_transform(X_test))

X_train2.columns = X_train.columns.values
X_test2.columns = X_test.columns.values
X_train2.index = X_train.index.values
X_test2.index = X_test.index.values

X_train = X_train2
X_test = X_test2

## Model Building

###Logistic Regression

In [17]:
# with "duration" column

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

model = LogisticRegression(random_state = 42, max_iter=1000, penalty='l2')
model.fit(X_train, y_train)
y_pred = model.predict (X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc= roc_auc_score(y_test, y_pred)

In [18]:
results = pd.DataFrame([["Logistic Regression (with Duration)",accuracy,precision,recall, f1, roc_auc]],
                       columns = ['Model','Accuracy','Precision','Recall','f1 score','ROC_AUC'])
results

,Model,Accuracy,Precision,Recall,f1 score,ROC_AUC
0,Logistic Regression (with Duration),0.873384,0.878947,0.874346,0.87664,0.873355

###SVM (linear)

In [19]:
from sklearn.svm import SVC
model = SVC(random_state=42, kernel = 'linear', C=1.0, gamma=0.1)
model.fit(X_train, y_train)
y_pred = model.predict (X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc= roc_auc_score(y_test, y_pred)

In [20]:
model_result = pd.DataFrame([["SVC (linear)",accuracy,precision,recall, f1, roc_auc]],
                       columns = ['Model','Accuracy','Precision','Recall','f1 score','ROC_AUC'])
results = results.append(model_result, ignore_index=True)
results

<ipython-input-20-5b8e46458dd4>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(model_result, ignore_index=True)

,Model,Accuracy,Precision,Recall,f1 score,ROC_AUC
0,Logistic Regression (with Duration),0.873384,0.878947,0.874346,0.876640,0.873355
1,SVC (linear),0.880927,0.869960,0.903665,0.886492,0.880245

###SVM (rbf)

In [21]:
from sklearn.svm import SVC
model = SVC(random_state=42, C=1.0, gamma=0.1, kernel = 'rbf')
model.fit(X_train, y_train)
y_pred = model.predict (X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc= roc_auc_score(y_test, y_pred)

In [22]:
model_result = pd.DataFrame([["SVC (rbf)",accuracy,precision,recall, f1, roc_auc]],
                       columns = ['Model','Accuracy','Precision','Recall','f1 score','ROC_AUC'])
results = results.append(model_result, ignore_index=True)
results

<ipython-input-22-7bc3e3ce2459>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(model_result, ignore_index=True)

,Model,Accuracy,Precision,Recall,f1 score,ROC_AUC
0,Logistic Regression (with Duration),0.873384,0.878947,0.874346,0.876640,0.873355
1,SVC (linear),0.880927,0.869960,0.903665,0.886492,0.880245
2,SVC (rbf),0.884698,0.857281,0.930890,0.892570,0.883314

### Random forest

In [23]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42, n_estimators=100, max_depth=5, criterion='entropy')
model.fit(X_train, y_train)
y_pred = model.predict (X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc= roc_auc_score(y_test, y_pred)

In [24]:
model_result = pd.DataFrame([["Random Forest",accuracy,precision,recall, f1, roc_auc]],
                       columns = ['Model','Accuracy','Precision','Recall','f1 score','ROC_AUC'])
results = results.append(model_result, ignore_index=True)
results

<ipython-input-24-a38ef7739f0d>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(model_result, ignore_index=True)

,Model,Accuracy,Precision,Recall,f1 score,ROC_AUC
0,Logistic Regression (with Duration),0.873384,0.878947,0.874346,0.876640,0.873355
1,SVC (linear),0.880927,0.869960,0.903665,0.886492,0.880245
2,SVC (rbf),0.884698,0.857281,0.930890,0.892570,0.883314
3,Random Forest,0.884159,0.839450,0.958115,0.894866,0.881943

### XGBoost

In [25]:
from sklearn.utils import class_weight
from xgboost import XGBClassifier

model = XGBClassifier(random_state=42, max_depth=10, learning_rate=0.2)
model.fit(X_train, y_train)
y_pred = model.predict (X_test)

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc= roc_auc_score(y_test, y_pred)

In [26]:
model_result = pd.DataFrame([["XGBoost",accuracy,precision,recall, f1, roc_auc]],
                       columns = ['Model','Accuracy','Precision','Recall','f1 score','ROC_AUC'])
results = results.append(model_result, ignore_index=True)
results

<ipython-input-26-582f0abce2ca>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results.append(model_result, ignore_index=True)

,Model,Accuracy,Precision,Recall,f1 score,ROC_AUC
0,Logistic Regression (with Duration),0.873384,0.878947,0.874346,0.876640,0.873355
1,SVC (linear),0.880927,0.869960,0.903665,0.886492,0.880245
2,SVC (rbf),0.884698,0.857281,0.930890,0.892570,0.883314
3,Random Forest,0.884159,0.839450,0.958115,0.894866,0.881943
4,XGBoost,0.868534,0.862385,0.885864,0.873967,0.868015